* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: darkorange;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.text {
  display: flex;
  width: 60vw;
  height: 20vh;
  margin: 1rem;
}

.text-path {
  stroke-width: 5;
}

@media screen and (max-width: 500px) {
  .text {
    display: flex;
    width: 95vw;
    height: 20vh;
    margin: 1rem;
  }

  .text-path {
    stroke-width: 10;
  }
}
